.button {
  background-color: transparent;
  display: inline-block;
  margin-top: 0.5rem;
  text-decoration: none;
  font-size: 1rem;
  border: 1px solid $primaryBlue;
  color: $primaryBlue;
  padding: 0.5rem 1.2rem;
  text-align: center;
  font-family: $fontFamily;
  &:hover,
  &:focus {
    text-decoration: none;
    color: white;
    background-color: $primaryBlue;
  }
}

.button-block-on-mobile {
  &.button {
    display: block;
  }
}
@media (min-width: $deviceWidth) {
  .button.button-block-on-mobile {
    display: inline-block;
    width: auto;
  }
}

.button-block {
  display: block;
}
