.legend-key {
  display: inline-block;
  border-radius: 50%; /*curve border ... make a circle*/
  width: 10px; /*size of circle*/
  height: 10px;
  margin-right: 10px; /*position of circle*/
}

.legend-item {
  -webkit-tap-highlight-color: transparent;
  padding-bottom: 2px;
  padding-left: 6px;
  vertical-align: text-top;
  span {
    &.label {
      text-transform: capitalize;
      display: inline-block;
      margin: 0;
      padding: 8px;
      color: #777;
    }
  }
  &.active {
    & > span.label {
      color: #000;
      font-weight: 400;
    }
  }
  &:hover,
  &:focus {
    cursor: pointer;
    & > span.label {
      text-decoration: underline;
    }
  }
  .legend-item {
    padding-left: 12px;
    font-size: 0.95rem;
  }
  &#toggle-turismo-tourist .legend-key {
    box-sizing: border-box;
    border: 2px solid #3c565d;
    height: 10px;
    width: 10px;
    position: relative;
  }
  &#toggle-turismo-biological .legend-key:before {
    position: relative;
    top: 3px;
    border-radius: 0;
    content: url("../svg/park-11.svg");
    margin-left: -5px;
  }
  &#toggle-ecosistemas .legend-key {
    border-radius: 0;
  }
  &#toggle-unesco .legend-key {
    height: 3px;
    margin-bottom: 4px;
    border-radius: 0;
  }
  &#toggle-sectores .legend-key {
    height: 2px;
    margin-bottom: 3px;
    border-radius: 0;
  }
}
