/* POPUPS */

.mapboxgl-popup {
  width: 240px;
  padding: 0;
}

.mapboxgl-popup-content {
  padding: 0;
  box-shadow: 1px 2px 2px #777;
}

.popup-content {
  display: block;
  padding: 0.75rem;
}

.popup-image {
  width: 240px;
  height: 140px;
  overflow: hidden;
  background-color: black;
}

.popup-header {
  height: 140px;
  display: block;
  overflow: hidden;
  img {
    width: 240px;
    height: auto;
    margin: -1em 0 0 0;
  }
  h3 {
    display: block;
    position: absolute;
    color: white;
    margin-top: 0.75rem;
    left: 0.75rem;
    margin-right: 0.75rem;
    font-size: 1.2rem;
    line-height: 1.4rem;
    font-weight: 500;
    font-family: $fontFamily;
    text-shadow: 1px 1px 1px #000;
    text-overflow: ellipsis;
    overflow: hidden;
    a {
      color: white;
      text-decoration: none;
    }
  }
}

.popup-description {
  font-size: 0.8rem;
  line-height: 0.95rem;
  color: #444;
  max-height: 120px;
  overflow: hidden;
  p {
    margin: 0;
    padding: 0;
  }
}

.mapboxgl-popup-close-button {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  background-color: $darkBlue;
  opacity: 0.5;
  color: #fff;
  font-size: 1rem;
  vertical-align: text-top;
  width: 2rem;
  height: 2rem;
  border-radius: 0 0 0 6px;
  &:hover,
  &:focus {
    background-color: $darkBlue;
    opacity: 0.7;
  }
}
