/*! system-font.css v2.0.2 | CC0-1.0 License | github.com/jonathantneal/system-font-css */
@font-face {
  font-family: system-ui;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Segoe UI Light"), local("Ubuntu Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma"); }

@font-face {
  font-family: system-ui;
  font-style: italic;
  font-weight: 300;
  src: local(".SFNSText-LightItalic"), local(".HelveticaNeueDeskInterface-Italic"), local(".LucidaGrandeUI"), local("Segoe UI Light Italic"), local("Ubuntu Light Italic"), local("Roboto-LightItalic"), local("DroidSans"), local("Tahoma"); }

@font-face {
  font-family: system-ui;
  font-style: normal;
  font-weight: 400;
  src: local(".SFNSText-Regular"), local(".HelveticaNeueDeskInterface-Regular"), local(".LucidaGrandeUI"), local("Segoe UI"), local("Ubuntu"), local("Roboto-Regular"), local("DroidSans"), local("Tahoma"); }

@font-face {
  font-family: system-ui;
  font-style: italic;
  font-weight: 400;
  src: local(".SFNSText-Italic"), local(".HelveticaNeueDeskInterface-Italic"), local(".LucidaGrandeUI"), local("Segoe UI Italic"), local("Ubuntu Italic"), local("Roboto-Italic"), local("DroidSans"), local("Tahoma"); }

@font-face {
  font-family: system-ui;
  font-style: normal;
  font-weight: 500;
  src: local(".SFNSText-Medium"), local(".HelveticaNeueDeskInterface-MediumP4"), local(".LucidaGrandeUI"), local("Segoe UI Semibold"), local("Ubuntu Medium"), local("Roboto-Medium"), local("DroidSans-Bold"), local("Tahoma Bold"); }

@font-face {
  font-family: system-ui;
  font-style: italic;
  font-weight: 500;
  src: local(".SFNSText-MediumItalic"), local(".HelveticaNeueDeskInterface-MediumItalicP4"), local(".LucidaGrandeUI"), local("Segoe UI Semibold Italic"), local("Ubuntu Medium Italic"), local("Roboto-MediumItalic"), local("DroidSans-Bold"), local("Tahoma Bold"); }

@font-face {
  font-family: system-ui;
  font-style: normal;
  font-weight: 700;
  src: local(".SFNSText-Bold"), local(".HelveticaNeueDeskInterface-Bold"), local(".LucidaGrandeUI"), local("Segoe UI Bold"), local("Ubuntu Bold"), local("Roboto-Bold"), local("DroidSans-Bold"), local("Tahoma Bold"); }

@font-face {
  font-family: system-ui;
  font-style: italic;
  font-weight: 700;
  src: local(".SFNSText-BoldItalic"), local(".HelveticaNeueDeskInterface-BoldItalic"), local(".LucidaGrandeUI"), local("Segoe UI Bold Italic"), local("Ubuntu Bold Italic"), local("Roboto-BoldItalic"), local("DroidSans-Bold"), local("Tahoma Bold"); }

.button {
  background-color: transparent;
  display: inline-block;
  margin-top: 0.5rem;
  text-decoration: none;
  font-size: 1rem;
  border: 1px solid #05a0ce;
  color: #05a0ce;
  padding: 0.5rem 1.2rem;
  text-align: center;
  font-family: "system-ui"; }
  .button:hover, .button:focus {
    text-decoration: none;
    color: white;
    background-color: #05a0ce; }

.button-block-on-mobile.button {
  display: block; }

@media (min-width: 720px) {
  .button.button-block-on-mobile {
    display: inline-block;
    width: auto; } }

.button-block {
  display: block; }

/* LEGEND */
@keyframes fadeInUp {
  from {
    opacity: 0.5;
    transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }

#legend {
  display: flex;
  flex-direction: row; }
  #legend h4 {
    display: block;
    margin: 0;
    font-size: 1.2rem;
    font-weight: 200;
    padding: 16px 10px; }
    #legend h4:hover, #legend h4:focus {
      cursor: pointer;
      text-decoration: underline; }
  #legend .legend-inner {
    -webkit-animation-duration: 600ms;
    animation-duration: 600ms;
    animation-name: fadeInUp;
    display: none; }
  #legend.active .legend-inner {
    display: block; }

.legend-wrapper {
  width: 100%; }

#legend-footer {
  text-align: center;
  padding: 14px; }

@media (min-width: 720px) {
  #legend {
    -webkit-tap-highlight-color: transparent;
    margin-top: 0.6em;
    position: relative;
    max-width: 20%;
    min-width: 220px;
    display: flex;
    flex: 1;
    flex-direction: column;
    left: auto;
    right: auto;
    order: -1; }
    #legend h4 {
      width: auto;
      text-align: left; }
    #legend .legend-inner {
      display: block; }
  #legend-footer {
    text-align: left; } }

.overlay-box {
  padding: 0px 10px;
  margin: 0 0 2px;
  font-size: 1em;
  font-color: #444;
  font-family: "system-ui";
  background-color: #fff; }

#legend #legend-toggle-icon:before {
  display: inline-block;
  right: 0;
  margin-right: 1.5rem;
  position: absolute;
  border-radius: 0;
  content: url("up-arrow.d75f0b9a.svg"); }

#legend.active #legend-toggle-icon:before {
  content: url("down-arrow.fff45b58.svg"); }

@media (min-width: 720px) {
  #legend-toggle-icon {
    display: none; } }

.legend-key {
  display: inline-block;
  border-radius: 50%;
  /*curve border ... make a circle*/
  width: 10px;
  /*size of circle*/
  height: 10px;
  margin-right: 10px;
  /*position of circle*/ }

.legend-item {
  -webkit-tap-highlight-color: transparent;
  padding-bottom: 2px;
  padding-left: 6px;
  vertical-align: text-top; }
  .legend-item span.label {
    text-transform: capitalize;
    display: inline-block;
    margin: 0;
    padding: 8px;
    color: #777; }
  .legend-item.active > span.label {
    color: #000;
    font-weight: 400; }
  .legend-item:hover, .legend-item:focus {
    cursor: pointer; }
    .legend-item:hover > span.label, .legend-item:focus > span.label {
      text-decoration: underline; }
  .legend-item .legend-item {
    padding-left: 12px;
    font-size: 0.95rem; }
  .legend-item#toggle-turismo-tourist .legend-key {
    box-sizing: border-box;
    border: 2px solid #3c565d;
    height: 10px;
    width: 10px;
    position: relative; }
  .legend-item#toggle-turismo-biological .legend-key:before {
    position: relative;
    top: 3px;
    border-radius: 0;
    content: url("park-11.4a389092.svg");
    margin-left: -5px; }
  .legend-item#toggle-ecosistemas .legend-key {
    border-radius: 0; }
  .legend-item#toggle-unesco .legend-key {
    height: 3px;
    margin-bottom: 4px;
    border-radius: 0; }
  .legend-item#toggle-sectores .legend-key {
    height: 2px;
    margin-bottom: 3px;
    border-radius: 0; }

/* POPUPS */
.mapboxgl-popup {
  width: 240px;
  padding: 0; }

.mapboxgl-popup-content {
  padding: 0;
  box-shadow: 1px 2px 2px #777; }

.popup-content {
  display: block;
  padding: 0.75rem; }

.popup-image {
  width: 240px;
  height: 140px;
  overflow: hidden;
  background-color: black; }

.popup-header {
  height: 140px;
  display: block;
  overflow: hidden; }
  .popup-header img {
    width: 240px;
    height: auto;
    margin: -1em 0 0 0; }
  .popup-header h3 {
    display: block;
    position: absolute;
    color: white;
    margin-top: 0.75rem;
    left: 0.75rem;
    margin-right: 0.75rem;
    font-size: 1.2rem;
    line-height: 1.4rem;
    font-weight: 500;
    font-family: "system-ui";
    text-shadow: 1px 1px 1px #000;
    text-overflow: ellipsis;
    overflow: hidden; }
    .popup-header h3 a {
      color: white;
      text-decoration: none; }

.popup-description {
  font-size: 0.8rem;
  line-height: 0.95rem;
  color: #444;
  max-height: 120px;
  overflow: hidden; }
  .popup-description p {
    margin: 0;
    padding: 0; }

.mapboxgl-popup-close-button {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  background-color: rgba(5, 160, 206, 0.69);
  opacity: 0.5;
  color: #fff;
  font-size: 1rem;
  vertical-align: text-top;
  width: 2rem;
  height: 2rem;
  border-radius: 0 0 0 6px; }
  .mapboxgl-popup-close-button:hover, .mapboxgl-popup-close-button:focus {
    background-color: rgba(5, 160, 206, 0.69);
    opacity: 0.7; }

* {
  margin: 0;
  padding: 0; }

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "system-ui"; }

h1,
h3,
h4,
h5,
h5,
h6 {
  font-family: "system-ui"; }

#main {
  min-height: 100%;
  display: flex;
  box-sizing: border-box;
  flex-direction: column; }

@media (min-width: 720px) {
  #main {
    flex-direction: row;
    align-self: center; }
  #map {
    flex-direction: column; } }

#map {
  flex: 1;
  flex-direction: row; }

.flex-child {
  flex: 1; }
