body {
  margin: 0;
  padding: 0;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

#map .mapboxgl-popup {
  width: 240px;
  padding: 0;
}

#map .mapboxgl-popup-content {
  padding: 0;
}

.popup-header {
  height: 140px;
  display: block;
  overflow: hidden;
}

.popup-image {
  width: 240px;
  height: 140px;
  overflow: hidden;
  background-color: black;
}

.popup-header img {
  width: 240px;
  height: auto;
  margin: 600 0 0 -600px;
}

.popup-header h3 {
  display: block;
    position: absolute;
    color: white;
    margin-top: .5rem;
    left: .5rem;
    font-size: 1.2rem;
    line-height: 1.4rem;
    font-weight: normal;
    font-family: Arial, Helvetica, "Helvetica Neue", sans;
    text-shadow: 1px 1px 1px #000;
    text-overflow: ellipsis;
}

.popup-description {
  display: block;
  padding: .75rem;
  font-size: .8rem;
  line-height: .95rem;
  color: #444;
}

.popup-description p {
  margin: 0;
  padding: 0;
}
.popup-button {
  margin-top: 0.5rem;
  display: block;
  text-decoration: none;
  font-size: .9rem;
  border: 1px solid #05A0CE;
  color: #05A0CE;
    padding: 0.5rem;
    text-align: center;
    font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
}

.popup-button:hover, .popup-button:focus {
  color: white;
  background-color: #05A0CE;
}

#legend {
    background-color: #fff;
    border-radius: 3px;
    bottom: 30px;
    box-shadow: 4px 2px 2px darkgrey;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    padding: 10px;
    position: absolute;
    right: 10px;
    z-index: 1;
}

#legend h4 {
    margin: 0 0 10px;
}

#legend div span {
    display: inline-block;
    height: 10px;
    margin-right: 5px;
    width: 10px;
}

.marker {
  width: 10px;
  height: 10px;
  background-color: #444;
}

.tourist-marker {
  background-color: orange;
  border: 1px darkorange;
  opacity: .87;
}

.biological-marker {
  border-radius: 50%;
  background-color: darkgreen;
  border: 1px solid darkslategray;
}
